{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}

<div class="main-image">
    <div class="card fd-card login-signup-card d-flex flex-column align-items-center justify-content-around mx-auto">
        <div>
            <h1 class="main-title text-center">{% trans "Sign Out" %}</h1>

            <p class="lead text-center">
                {% trans 'Are you sure you want to sign out?' %}
            </p>
        </div>
        <div class="card fd-card d-flex">
            <form method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-lg btn-info mx-auto" type="submit">{% trans "Sign Out" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
 
{% endblock content %}
