{% extends "account/base_entrance.html" %}
{% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
<div class="hero-image">
    <div class="card fd-card login-signup-card d-flex flex-column align-items-center justify-content-around mx-auto">
        <div>
            <h1 class="hero-title">{% trans "Sign Up" %}</h1>

            <p class="lead text-center">
                {% blocktrans %}Already have an account? Then please <a class="underline" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
            </p>
        </div>
        <div class="card fd-card signup-inner">
            <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="text-center">
                    <button class="btn btn-lg btn-info mx-auto" type="submit">{% trans "Sign Up" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
