{% extends 'base.html' %}

{% block title %}Amend Booking - Flying Dutchman Voyages{% endblock %}

{% block content %}

<h2>
    Amend your booking with us
</h2>

<div>
    <div>
        <h3>
            {{ room_name }}
        </h3>
        <h4>
            Current booking details:
        </h4>
        <p>
            Current date of departure: {{ booking_date }}
        </p>
        <p>
            Current number of passengers: {{ num_passengers }}
        </p>
    </div>
    <div>
        <h4>
            Amend booking details:
        </h4>
        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            
            <!-- <div>
                <label for="id_booking_date">
                    Departure date:
                </label>
                <input id="id_booking_date" type="date" name="booking_date">
            </div>

            <div>
                <label for="id_num_passengers">
                    Number of passengers:
                </label>
                <input id="id_num_passengers" type="number" name="num_passengers">
            </div> -->

            <div>
                <input type="submit" value="Amend Booking" />
            </div>
        </form>
    </div>
</div>




{% endblock %}