{% extends 'base.html' %}

{% block content %}

<h2>
    Amend booking:
</h2>

<div>
    <div>
        <h3>
            Booking ID: {{ booking_id }}<br />
            {{ room_category }}
        </h3>
        <p>
            Number of beds: {{ room.beds }}
            <br>
            Maximum number of passengers: {{ room.capacity }}
        </p>
    </div>

    <div>
        {% if submitted == True %}
            This has been submitted.
        {% endif %}

        {% if is_valid == False %}
            WAT EVEN
        {% endif %}
    </div>

    <form method="POST">
        {% csrf_token %}
        
        <div>
            <label for="id_booking_date">
                Departure date:
            </label>
            <input id="id_booking_date" type="date" name="booking_date">
        </div>

        <div>
            <label for="id_num_passengers">
                Number of passengers:
            </label>
            <input id="id_num_passengers" type="number" name="num_passengers">
        </div>

        <div>
            <input type="submit" value="Book Now">
        </div>
    </form>
</div>




{% endblock %}