{% extends 'base.html' %}

{% block content %}

<h2>
    Amend your booking with us
</h2>

<div>
    <div>
        <h3>
            Current booking details:
        </h3>
        <h4>
            {{ room_category }}
        </h4>
        <p>
            Date of departure: {{ booking_date }}
            <br>
            Number of passengers: {{ num_passengers }}
        </p>
    </div>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        
        <!-- <div>
            <label for="id_booking_date">
                Departure date:
            </label>
            <input id="id_booking_date" type="date" name="booking_date">
        </div>

        <div>
            <label for="id_num_passengers">
                Number of passengers:
            </label>
            <input id="id_num_passengers" type="number" name="num_passengers">
        </div> -->

        <div>
            <input type="submit" value="Book Now">
        </div>
    </form>
</div>




{% endblock %}