{% extends 'base.html' %}

{% block title %}Booking Success! - {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="hero-image no-gutters">
    <div class="container">
        <h1 class="hero-title">Booking Success!</h1>

        <p class="lead hero-text text-center">
            Your booking has been successfully created. We look forward to welcoming you aboard our spectral ship.
        </p>

        <p class="lead hero-text">
            <em><a href="{% url 'fd_bookings:ViewBookingList' %}">Click here to view your booking details.</a></em>
        </p>
    </div>
</div>

{% endif %}

{% endblock %}