{% extends 'base.html' %}
{% load cloudinary %}

{% block title %}Cancel Booking - {% endblock %}

{% block content %}

<div class="page-background">

    <div class="d-flex flex-column align-items-center">  
        <div class="card fd-card amend-booking-card d-flex flex-column align-items-center justify-content-center">
            <div>
                <h1 class="fd-page-header">
                    Cancel your booking for:
                    <br />
                    {{ booking.room.name }}
                </h1>
            </div>
            <div class="amend-booking-flex d-flex align-items-center justify-content-center">
                <div class="booking-image cancel-image-container d-flex">
                    {% if 'placeholder' in booking.room.room_image_3.url %}

                        {% cloudinary "captain_s_room_by_xpunkyx_d4xmwcx-fullview_ini3fc.jpg" class="amend-booking-cloudinary" width=680 alt="'Captain's Room' by xPuNkYx on DeviantArt (https://www.deviantart.com/xpunkyx/art/Captain-s-Room-298360401)" %}

                    {% else %}

                        {% cloudinary booking.room.room_image_3 class="amend-booking-cloudinary" width=680 alt=booking.room.room_image_3_alt %}
                    
                    {% endif %}
                </div>
                <div class="amend-booking-details d-flex justify-content-between">
                    <div class="card fd-card amend-booking-card d-flex flex-column align-items-center justify-content-center">
                        <h2 class="fd-page-header text-center">
                            Please confirm that you wish to cancel this booking:
                        </h2>
                        <div class="booking-text d-flex flex-column justify-content-between">
                            <form action="" method="POST">
                                {% csrf_token %}
                        
                                <div class="booking-text-details">
                                    <p class="text-center">
                                        Current date of departure:
                                    </p>
                                    <p class="font-weight-bold text-center">
                                        {{ booking.booking_date }}
                                    </p>
                                    <p class="text-center">
                                        Current number of passengers:
                                    </p>
                                    <p class="font-weight-bold text-center">
                                        - {{ booking.num_passengers }} -
                                    </p>
                                </div>
                                <div class="d-flex">
                                    <input type="submit" class="btn btn-lg btn-danger fd-custom-btn" value="Cancel Booking" />
                                    <a href="{% url 'fd_bookings:ViewBookingList' %}" class="btn btn-lg btn-secondary fd-custom-btn">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}