{% extends 'base.html' %}

{% block content %}

<h2>
    This is the edit booking page.
</h2>

<div>
    <form action="" method="POST">
        {% csrf_token %}

        <div>
            <h3>
                {{ room_category }}
            </h3>
            <p>
                Number of beds: {{ room.beds }}
                <br>
                Maximum number of passengers: {{ room.capacity }}
            </p>
        </div>

        <div>
            <label for="id_booking_date">
                Departure date:
            </label>
            <input id="id_booking_date" type="date" name="booking_date">
        </div>

        <div>
            <label for="id_num_passengers">
                Number of passengers:
            </label>
            <input id="id_num_passengers" type="number" name="num_passengers">
        </div>

        <div>
            <input type="submit" value="Book Now">
        </div>
    </form>
</div>




{% endblock %}