{% extends 'base.html' %}

{% block title %}Manage Bookings - {% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="page-background">
    <div>
        <h1 class="fd-page-header">
            Your Bookings for the Flying Dutchman
        </h1>
        <p class="lead fd-page-lead">
            Manage your bookings here...
        </p>
    </div>

    {% for booking in booking_list %}
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="card booking-card d-flex align-items-center justify-content-center">
            <div class="booking-image">
                {% if 'placeholder' in booking.room.room_image_1.url %}
                <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1701272049/room_placeholder_qdlprf.jpg" />

                {% else %}
                <img src="{{ booking.room.room_image_1.url }}" />

                {% endif %}
            </div>
            <div class="booking-text d-flex flex-column justify-content-between">
                <h2 class="booking-text-title"><a href="/room/{{ booking.room.id }}" class="fd-room-link text-center">{{ booking.room.name }}</a></h2>
                <div class="booking-text-details">
                    <p>Date of departure: {{ booking.booking_date }}</p>
                    <p>Number of passengers: {{ booking.num_passengers }}</p>
                </div>
                <a href="/manage_bookings/amend/{{ booking.id }}" class="btn btn-info fd-custom-btn">Amend Booking</a>
                <a href="/manage_bookings/cancel/{{ booking.id }}" class="btn btn-secondary fd-custom-btn">Cancel Booking</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div>
        <p>You currently have no bookings.</p>
    </div>

            {% endfor %}
</div>

{% endif %}

{% endblock %}