{% extends 'base.html' %}

{% block title %}Manage Bookings - {% endblock %}

{% block content %}

<h2>
    This is the booking list page.
</h2>

{% if user.is_authenticated %}
{% for booking in booking_list %}
<div>
    <h3><a href="/room/{{ booking.room.id }}" class="fd-room-link">{{ booking.room.name }}</a></h3>
    <h4>Date of departure: {{ booking.booking_date }}</h4>
    <h4>Number of passengers: {{ booking.num_passengers }}</h4>
    <p><a href="/manage_bookings/amend/{{ booking.id }}">Amend Booking</a></p>
    <p><a href="/manage_bookings/cancel/{{ booking.id }}">Cancel Booking</a></p>
</div>
{% empty %}
<div>
    <p>You currently have no bookings.</p>
</div>
{% endfor %}
{% endif %}



{% endblock %}