{% extends 'base.html' %}

{% block title %}Our Rooms - {% endblock %}

{% block content %}

<div class="page-background">
    <div>
        <h1 class="fd-page-header">
            All Aboard the Flying Dutchman
        </h1>
        <p class="lead fd-page-lead">
            Feast your eyes on our unique selection of truly luxurious rooms...
        </p>
    </div>
    <div class="d-flex align-items-center justify-content-center flex-wrap rooms-holder">
        {% for room in room_list %}
        <div class="card fd-card rooms-card">
            <div class="card-body">
                <a href="/room/{{ room.id }}" class="fd-room-link">

                    {% if 'placeholder' in room.room_image_1.url %}
                    <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1701272049/room_placeholder_qdlprf.jpg" />

                    {% else %}
                    <img src="{{ room.room_image_1.url }}" />

                    {% endif %}
                    <h2 class="card-title">{{ room.name }}</h2>
                    <p class="card-text">Here is some flavour text!</p>
                </a>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}