{% extends 'base.html' %}

{% block title %}{{ room_name }} - Flying Dutchman Voyages{% endblock %}

{% block content %}

<h2>
    {{ room_name }}
</h2>

<div>
    <form method="POST">
        {% csrf_token %}

        <div>
            <div>
                {{ room. room_image_1.url }}
            </div>
            <div>
                {{ room. room_image_2.url }}
            </div>
            <div>
                {{ room. room_image_3.url }}
            </div>
        </div>
        <div>
            <p>
                Number of beds: {{ room.beds }}
                <br />
                Maximum number of passengers: {{ room.capacity }}
            </p>
        </div>

        <div>
            {{ form.as_p }}
        </div>

        <!-- <div>
            <label for="id_booking_date">
                Departure date:
            </label>
            <input id="id_booking_date" type="date" name="booking_date">
        </div>

        <div>
            <label for="id_num_passengers">
                Number of passengers:
            </label>
            <input id="id_num_passengers" type="number" name="num_passengers">
        </div> -->

        <div>
            <input type="submit" value="Book Now" />
        </div>
    </form>
</div>


{% endblock %}