{% extends 'base.html' %}

{% block content %}

<h2>
    This is the room detail page.
</h2>

<div>
    <form action="" method="POST">
        {% csrf_token %}

        <div>
            <label for="id_room_category">
                Room category:
            </label>
            <select id="id_room_category" name="room_category">
                <option value="CAP">CAPTAINS QUARTERS</option>
                <option value="OCD">DOUBLE CABIN</option>
                <option value="OCS">SINGLE CABIN</option>
                <option value="CRW">CREW BUNKS</option>
            </select>
        </div>

        <div>
            <label for="id_booking_date">
                Booking date:
            </label>
            <input id="id_booking_date" type="date" name="booking_date">
        </div>

        <div>
            <label for="id_num_passengers">
                Number of passengers:
            </label>
            <input id="id_num_passengers" type="number" name="num_passengers">
        </div>

        <div>
            <input type="submit" value="Book Now">
        </div>
    </form>
</div>


{% endblock %}