@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

.hero-image {
    background-image: url("https://res.cloudinary.com/dw7gzqpa3/image/upload/v1701274327/The_Flying_Dutchman_by_Charles_Temple_Dix_p7m3yr.jpg");
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://res.cloudinary.com/dw7gzqpa3/image/upload/v1701274327/The_Flying_Dutchman_by_Charles_Temple_Dix_p7m3yr.jpg"); */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    font-family: 'Charm', cursive;
    font-weight: 700;
    text-align: center;
}

.hero-brand {
    font-size: 75px;
}

.hero-text {
    font-family: 'Charm', cursive;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
}
