@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    min-height: 100vh;
}

.page-container {
    height: 100%;
    min-height: 100vh;
    position:relative;
}

/* Header & Navbar */

.header {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: rgb(242, 239, 224, 0.2);
}

.navbar-brand {
    font-family: 'Charm', cursive;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #303030;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #080808;
}

/* Homepage */

.hero-image {
    background: url("https://res.cloudinary.com/dw7gzqpa3/image/upload/v1701274327/The_Flying_Dutchman_by_Charles_Temple_Dix_p7m3yr.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.hero-title {
    font-family: 'Charm', cursive;
    font-weight: 700;
    margin-top: 23%;
    margin-bottom: 12%;
}

.hero-text {
    font-family: 'Charm', cursive;
    font-weight: 400;
    font-size: 200%;
}

.features-container {
    margin-bottom: 70px;
}

.homepage-card {
    background: rgb(242, 239, 224, 0.5);
    width: 250px;
    margin: 0.5rem;
}

.homepage-btn {
    width: 195px;
    padding: 0.5rem 0.5rem;
    opacity: 0.8;
}

/* Templates */

.page-background {
    background: url("https://res.cloudinary.com/dw7gzqpa3/image/upload/v1701717328/The_Flying_Dutchman_by_Charles_Temple_Dix_1_daafej.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.fd-page-header {
    font-family: 'Charm', cursive;
    font-weight: 700;
    padding: 70px 0.5rem 0.5rem;
}

.fd-page-lead {
    font-style: italic;
}

.fd-room-link {
    font-family: 'Charm', cursive;
    font-weight: 700;
    text-decoration: none;
    color: #212529;
}

.fd-room-link:hover {
    color: #000000;
    font-style: italic;
}

.fd-custom-btn {
    margin: 0.5rem;
}

/* Footer */

.footer {
    width: 100%;
    background-color: rgb(59, 79, 68, 0.8);
    color: #7a8b7f;
    height: 56px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer p {
    margin-bottom: 0;
}



@media screen and (min-width: 576px) {
    .hero-brand {
        font-size: 200%;
    }

    .hero-title {
        margin-top: 18%;
        margin-bottom: 15%;
    }
}

@media screen and (min-width: 992px) {
    .hero-title {
        margin-top: 11%;
        margin-bottom: 6%;
    }
}

@media screen and (min-width: 1367px) {
    .hero-title {
        margin-top: 12%;
        margin-bottom: 5%;
    }
}
