{% extends 'base.html' %}

{% block title %} - Flying Dutchman Voyages{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="hero-image row g-0">
        <div class="container">
            <div class="row">
                <div class="col hero-title">
                    <h1>500 - Internal Server Error</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="lead hero-text">
                        The server encountered an error and could not complete your request.
                    </p>
                    <p class="lead hero-text">
                        <em><a href="{% url 'home' %}">Click here to return home.</a></em>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}