{% extends 'base.html' %}

{% block title %} - Flying Dutchman Voyages{% endblock %}

{% block content %}

<div class="hero-image no-gutters">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h1>500 - Internal Server Error</h1>

        <p class="lead hero-text text-center">
            The server encountered an error and could not complete your request.
        </p>

        <p class="lead hero-text">
            <em><a href="{% url 'home' %}">Click here to return home.</a></em>
        </p>
    </div>
</div>

{% endblock %}