{% extends 'base.html' %}

{% block title %}Contact Us - {% endblock %}

{% block content %}

<div class="page-background">
    <h1 class="fd-page-header">
        About the magical and storied Flying Dutchman...  
    </h1>

    <p class="lead text-center mx-auto">
        "The ship vanished as suddenly as it appeared...
        <br />
        Should I feel fear? <em>Was it even here...?</em>"
    </p>

    <div class="about-us d-flex mx-auto">
        <div class="card fd-card about-card d-flex mx-auto">
            <div class="d-flex about-details">
                <div class="about-image d-flex text-center">
                    <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702222703/ai_art___the_flying_durchmen_by_koalafish_dfji9aq_xuw41i.jpg" alt="'The Flying Dutchman' by Koalafish on DeviantArt (https://www.deviantart.com/koalafish/art/AI-Art-The-Flying-Durchmen-939757202)" />
                </div>
                <div class="about-text d-flex flex-column justify-content-around">
                    <h2 class="fd-page-header">
                        The Flying Dutchman
                    </h2>
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            <small>"The legend of the Flying Dutchman is not only renowned in the field of the supernatural; it is also one of the most famous tales of the sea.
                            For hundreds of years this ghostly ship has sailed the seas around the Cape of Good Hope, bringing misfortune to any ship that is unfortunate to come
                            within sight of it. The tale of the Flying Dutchman has been known to generations of seamen and it inspired Richard Wagner to write his
                            famous opera <span class="font-italic">Der Fliegender Hollander</span>."</small>
                        </p>
                        <footer class="blockquote-footer text-right">
                            Tony Ellis, <cite title="Maritime Ghosts">Maritime Ghosts</cite>
                        </footer>
                    </blockquote>
                    <p>
                        It was a fateful day in 1680 - Easter Sunday - on which Captain Hendrick Van der Decken ordered that The Flying Dutchman set sail from Amsterdam towards the
                        Dutch East Indies, against the superstitious worries of his crew. As they closed in on the Cape of Good Hope, a storm of biblical intensity appeared.
                        Determined to proceed through the storm, rather than wait for it to die down, Captain Van der Decken ignored the frightened protestations of the crew and
                        proclaimed loudly <span class="font-italic"><strong>"I will round the Cape, even if I have to sail until Doomsday!"</strong></span>
                    </p>
                    <p>
                        ...And so it was that The Flying Dutchman would vanish into the mists, doomed never to return to port... Or so the legends say!
                        We, of course, know better. It is true that the 17th century fluyt never did return... at least, not in the state that it had been upon its departure.
                        Instead, what returned is the majestic and otherworldly ship on which we are proud to offer our amazing, once-in-a-lifetime voyages.
                    </p>
                </div>
            </div>
            <hr />
            <div class="d-flex about-details">
                <div class="about-text d-flex flex-column justify-content-center">
                    <h2 class="fd-page-header">
                        Voyages Aboard Our Spectral Ship
                    </h2>
                    <p>
                        The Flying Dutchman is a mystical vessel - half corporeal ship, tethered to this physical world, and half phantasmal spirit, never failing to complete its course.
                    </p>
                    <p>
                        This duality can be seen in particular by those off-board the ship, as it sometimes appears on the seas in pristine condition, without a single visible scratch
                        - other times it appears rotted and warped, ghastly and decaying. Yet, despite this, the quality of the decks and interiors once aboard the ship remain pristine
                        - seemingly unphased by the external changes witnessed only by spectators!
                    </p>
                    <p>
                        On board the ship, as you stand upon its glorious wooden decks and feel the sea winds upon your face, Captain Van der Decken, our non-corporeal Captain bound
                        forever to his vessel, steers ever onwards towards the stormy horizon. You will not be disappointed by the grandeur seen in every detail on board, nor by the
                        utmost care and attention paid by the Captain towards the safety and comfort of all those aboard his ship.
                    </p>
                    <p>
                        The Flying Dutchman offers a variety of unique rooms in which to stay during our 5-night voyages. We set sail every Sunday, and return on the following Friday.
                        Please feel free to <a class="font-weight-bold" href="{% url 'fd_bookings:room_list' %}"><u>browse our available rooms</u></a>, and do not hesitate to contact us at
                        <u>flying-dutchman@email.com</u> with any queries. We look forward to welcoming you on board!
                    </p>
                </div>
                <div class="about-image d-flex text-center">
                    <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702222733/ghost_ship_by_awester01_dfp1mei_c21h96.png" alt="'Ghost Ship' by awester01 on DeviantArt (https://www.deviantart.com/awester01/art/Ghost-Ship-949058730)" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}