{% extends 'base.html' %}

{% block title %}Contact Us - {% endblock %}

{% block content %}

<div class="page-background">
    <h1 class="fd-page-header">
        About the magical and storied Flying Dutchman...  
    </h1>

    <p class="lead text-center mx-auto">
        "The ship vanished as suddenly as it appeared...
        <br />
        Should I feel fear? <em>Was it even here...?</em>"
    </p>

    <div class="about-us d-flex mx-auto">
        <div class="card fd-card about-card d-flex mx-auto">
            <div class="d-flex about-details">
                <div class="about-image d-flex text-center">
                    <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702222703/ai_art___the_flying_durchmen_by_koalafish_dfji9aq_xuw41i.jpg" alt="'The Flying Dutchman' by Koalafish on DeviantArt (https://www.deviantart.com/koalafish/art/AI-Art-The-Flying-Durchmen-939757202)" />
                </div>
                <div class="about-text d-flex flex-column justify-content-around">
                    <h2 class="fd-page-header">
                        The Flying Dutchman
                    </h2>
                    <p>
                        "The legend of the Flying Dutchman is not only renowned in the field of the supernatural; it is also one of the most famous tales of the sea.
                        For 300 years this ghostly ship has sailed the seas around the Cape of Good Hope, bringing misfortune to any ship that is unfortunate to come
                        within sight of it. The tale of the Flying Dutchman has been known to generations of seamen and it inspired Richard Wagner to write his
                        famous opera 'Der Fliegender Hollander'." <small>(Tony Ellis, 'Maritime Ghosts')</small>
                    </p>
                    <p>
                        It was on  fateful day in 1641 on which Captain Hendrick Van der Decken ordered that The Flying Dutchman set sail from the Cape of Good Hope,
                        against the superstitious wishes of his crew - proclaiming loudly "I will round the Cape, even if I have to sail until Doomsday!"
                        <br />
                        ...And so it was that The Flying Dutchman would vanish into the mists, doomed never to return to port... Or so the legends say!
                        We, of course, know better.
                    </p>
                    <p>
                        We offer this experience for those who are willing to bravely go on this voyage - to be spirited away with us, on an
                        adventure like no other, away from the mortal plane and into the endless maelstrom of the spectral seas and skies.
                    </p>
                </div>
            </div>
            <div class="d-flex about-details">
                <div class="about-text d-flex flex-column justify-content-center">
                    <h2 class="fd-page-header">
                        Captain Van der Decken
                    </h2>
                    <p>
                        <strong>Return from this voyage is <u>NOT</u> guaranteed</strong>, which is why <em>no payment is accepted up-front</em>.
                        Being spirited away is no insignificant feat, so those of faint heart need not enquire.
                    </p>
                    <p>
                        Captain Van der Decken holds the safety of all his passengers and crew as paramount priority, and has worked hard over the
                        centuries to ensure that the process is as swift and safe as possible - no harm will befall you, but we do advise contacting
                        us before booking so that we can explain the process in detail, in order for you to make an educated decision about whether
                        this experience is right for you.
                    </p>
                    <p>
                        The Flying Dutchman has valiantly returned on time from every Easter Sunday voyage, ship intact and all passengers and crew
                        safe and accounted for, for two hundred years. However, we remind you again that <strong>return is NOT guaranteed</strong>,
                        and that there have been occasions in the past on which we have returned later than anticipated. Please contact us at
                        flying-dutchman@email.com should you have any queries.
                    </p>
                </div>
                <div class="about-image d-flex text-center">
                    <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702222733/ghost_ship_by_awester01_dfp1mei_c21h96.png" alt="'Ghost Ship' by awester01 on DeviantArt (https://www.deviantart.com/awester01/art/Ghost-Ship-949058730)" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}