{% extends 'base.html' %}

{% block title %}Contact Us - {% endblock %}

{% block content %}

<div class="page-background">
    <h2 class="fd-page-header">
        This is the about us page.
    </h2>

    <p class="fd-page-text">
        "The ship vanished as suddenly as it appeared... Should I feel fear? <em>Was it even here...?</em>"
    </p>
    <p>
        It was on that fateful day in 1641 on which Captain Van der Decken ordered that The Flying Dutchman set sail from the Cape of Good Hope,
        against the superstitious wishes of his crew - proclaiming loudly "I will round the Cape, even if I have to sail until Doomsday!"
        <br />
        ...And so it was that The Flying Dutchman would vanish into the mists, doomed never to return to port... Or so the legends say!
        We, of course, know better.
    </p>
</div>

{% endblock %}