<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flying Dutchman Voyages - Sailing Until Doomsday!">
    <meta name="keywords" content="flying dutchman voyages, flying dutchman, captain van der decken, age of sail, boat tours, boat events">
    
    <title>Flying Dutchman Voyages</title>
</head>
<body>

    <!-- Header -->
    <header>
        <nav>
            <a href="{% url 'home' %}"><h1>Flying Dutchman Voyages</h1></a>
            <ul>
                <!-- <li>
                    <a href="{% url 'home' %}">Home</a>
                </li> -->
                <li>
                    <a href="{% url 'events' %}">Events</a>
                </li>
                <li>
                    <a href="#">Book Now!</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="#">My Bookings</a>
                </li>
                <li>
                    <a href="#">Log Out</a>
                </li>
                {% else %}
                <li>
                    <a href="#">Log In</a>
                </li>
                <li>
                    <a href="#">Register</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
    
</body>
</html>