{% extends 'base.html' %}

{% block title %}Events - {% endblock %}

{% block content %}

<div class="page-background">
    <h1 class="fd-page-header">
        Make it a voyage to remember!
    </h1>
    <p class="lead fd-page-lead">
        Learn more about our spectacular events... from the frightening to the fantastical!
    </p>

    <div class="holidays d-flex mx-auto">
        <div class="card fd-card holidays-card d-flex flex-column align-items-center">
            <div class="holidays-image d-flex text-center">
                <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702209075/ship-1366926_1280_cu6zpa.jpg" />
            </div>
            <div>
                <h3 class="fd-page-header">
                    Merry Christmas
                </h3>
                <p>
                    Christmas placeholder text
                </p>
            </div>
        </div>
        <div class="card fd-card holidays-card d-flex flex-column align-items-center">
            <div class="holidays-image d-flex text-center">
                <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702208749/ai-generated-8252763_1280_rlpdc5.jpg" />
            </div>
            <div>
                <h3 class="fd-page-header">
                    Happy New Year
                </h3>
                <p>
                    New Year placeholder text
                </p>
            </div>
        </div>
        <div class="card fd-card holidays-card d-flex flex-column align-items-center">
            <div class="holidays-image d-flex text-center">
                <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702208357/ai-generated-8316938_1280_ritzmq.jpg" />
            </div>
            <div>
                <h3 class="fd-page-header">
                    All Hallow's Eve
                </h3>
                <p>
                    Halloween placeholder text
                </p>
            </div>
        </div>        
    </div>

    <div class="easter-sunday d-flex mx-auto">
        <div class="card fd-card holidays-card d-flex mx-auto">
            <div class="d-flex easter-details">
                <div class="easter-image d-flex text-center">
                    <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702209947/176-Ghost-ship-series-High-seas-encounter-web_b7870l.jpg" />
                </div>
                <div class="easter-text d-flex flex-column justify-content-around">
                    <h2 class="fd-page-header">
                        Doomed Easter Sunday Voyage...
                    </h2>
                    <p>
                        Once a year, on Easter Sunday, we hold a very, very special event - the likes of which no one has seen before...
                    </p>
                    <p>
                        On this most significant date, The Flying Dutchman's tether to the corporeal world is temporarily severed - allowing her,
                        along with her phantasmal Captain, to sail the ghostly currents of the world between worlds for a time, before she becomes
                        tethered once more.
                    </p>
                    <p>
                        We offer this experience for those who are willing to bravely go on this voyage - to be spirited away with us, on an
                        adventure like no other, away from the mortal plane and into the endless maelstrom of the spectral seas and skies.
                    </p>
                </div>
            </div>
            <div class="d-flex easter-details">
                <div class="easter-text d-flex flex-column justify-content-center">
                    <p>
                        <strong>Return from this voyage is <u>NOT</u> guaranteed</strong>, which is why <em>no payment is accepted up-front</em>.
                        Being spirited away is no insignificant feat, so those of faint heart need not enquire.
                    </p>
                    <p>
                        Captain Van der Decken holds the safety of all his passengers and crew as paramount priority, and has worked hard over the
                        centuries to ensure that the process is as swift and safe as possible - no harm will befall you, but we do advise contacting
                        us before booking so that we can explain the process in detail, in order for you to make an educated decision about whether
                        this experience is right for you.
                    </p>
                    <p>
                        The Flying Dutchman has valiantly returned on time from every Easter Sunday voyage, ship intact and all passengers and crew
                        safe and accounted for, for two hundred years. However, we remind you again that <strong>return is NOT guaranteed</strong>,
                        and that there have been occasions in the past on which we have returned later than anticipated. Please contact us at
                        flying-dutchman@email.com should you have any queries.
                    </p>
                </div>
                <div class="easter-image d-flex text-center">
                    <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702209947/177-Ghost-ship-series-Phantom-Voyage-web_loqor2.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}