{% extends 'base.html' %}

{% block title %}Events - {% endblock %}

{% block content %}

<div class="page-background">
    <h1 class="fd-page-header">
        Make it a voyage to remember!
    </h1>
    <p class="lead fd-page-lead">
        Learn more about our spectacular events... from the frightening to the fantastical!
    </p>

    <div class="easter-sunday card fd-card room-details-card d-flex mx-auto">
        <h2 class="fd-page-header">
            Doomed Easter Sunday Voyage...
        </h2>
        <div class="d-flex">
            <div class="d-flex text-center">
                <img src="" />
            </div>
            <div>
                <h3 class="fd-page-header">
                    Sail with us 'til Doomsday!
                </h3>
                <p>
                    Once a year, on Easter Sunday, we hold a very, very special event - the likes of which no one has seen before.
                    <br />
                    It was on that fateful day in 1641 on which Captain Van der Decken ordered that The Flying Dutchman set sail from the Cape of Good Hope,
                    against the superstitious wishes of his crew - proclaiming loudly that he would round the Cape, even if he had to sail until Doomsday!
                </p>
            </div>
        </div>
    </div>

    <div class="holidays d-flex mx-auto">
        <div class="card fd-card holidays-card d-flex flex-column align-items-center">
            <div class="holidays-image d-flex text-center">
                <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702209075/ship-1366926_1280_cu6zpa.jpg" />
            </div>
            <div>
                <h3 class="fd-page-header">
                    Merry Christmas
                </h3>
                <p>
                    Christmas placeholder text
                </p>
            </div>
        </div>
        <div class="card fd-card holidays-card d-flex flex-column align-items-center">
            <div class="holidays-image d-flex text-center">
                <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702208749/ai-generated-8252763_1280_rlpdc5.jpg" />
            </div>
            <div>
                <h3 class="fd-page-header">
                    Happy New Year
                </h3>
                <p>
                    New Year placeholder text
                </p>
            </div>
        </div>
        <div class="card fd-card holidays-card d-flex flex-colum align-items-center">
            <div class="holidays-image d-flex text-center">
                <img src="https://res.cloudinary.com/dw7gzqpa3/image/upload/v1702208357/ai-generated-8316938_1280_ritzmq.jpg" />
            </div>
            <div>
                <h3 class="fd-page-header">
                    All Hallow's Eve
                </h3>
                <p>
                    Halloween placeholder text
                </p>
            </div>
        </div>        
    </div>
</div>

{% endblock %}