{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="hero-image row g-0 fixed-top">
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <div class="col-12">
                    <h1 class="hero-title text-center">
                        <strong>
                            <small>Welcome to</small>
                        <br />
                            <span class="hero-brand">Flying Dutchman
                        <br />
                            Voyages</span>
                        </strong>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="lead hero-text text-center">
                        <em>"...Sailing Until Doomsday!"</em>
                    </p>
                </div>
            </div>
            <div class="row d-flex align-items-center justify-content-center flex-wrap">
                <div class="card text-center homepage-card">
                    <div class="card-body">
                        <p class="card-text">
                            Learn more about the magnificent Flying Dutchman vessel
                        </p>
                        <a href="{% url 'about' %}" class="btn btn-lg btn-info">Find Out More</a>
                    </div>
                </div>
                <div class="card text-center homepage-card">
                    <div class="card-body">
                        <a href="{% url 'fd_bookings:room_list' %}" class="btn btn-lg btn-info">View Our Rooms</a>
                    </div>
                </div>
                <div class="card text-center homepage-card">
                    <div class="card-body">
                        <a href="{% url 'events' %}" class="btn btn-lg btn-info">Check Our Events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
