{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="hero-image">
        <div class="container">
            <div class="row">
                <div class="col hero-text">
                    <h1>
                        <small>Welcome to</small>
                        <br />
                        <span class="display-4">Flying Dutchman Voyages!</span>
                    </h1>
                </div>
            </div>
            <div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quod amet, iusto perspiciatis
                    velit fuga ea, voluptate minima repudiandae nisi laudantium tempora, maiores dolores reprehenderit.
                    Vitae alias mollitia provident veniam delectus odio sunt pariatur hic eveniet exercitationem sapiente,
                    ipsum tempore enim cumque? Quas dignissimos eveniet iure molestiae nulla voluptas. Perferendis, id!
                    Illum fugiat nesciunt suscipit cumque rem quas ratione molestias atque dolor tempore at sit, omnis
                    distinctio earum libero eius doloribus explicabo officiis.
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}
